.brickcontainer {
    position: relative;
}
.brickcontainer .brick-item-common {
    position: absolute;
    vertical-align: baseline;
}
.brickcontainer .brick-item-1 {
    width: 25%;
}
.brickcontainer .brick-item-2 {
    width: 50%;
}
